.DS_Store
.dump.rdb
.vagrant

#maven 
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

#eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.project
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse
.classpath
