<?xml version="1.0" encoding="US-ASCII" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="TRACE" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p [%-30.50c] %x - %m%n" />
		</layout>
	</appender>

	<logger name="com.zimbra.qless">
		<level value="debug" />
	</logger>

	<root>
		<priority value="info" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>

